*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}
.container-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}
.card img{
    width: 100%;
    height: auto;
}
.card h2{
    margin: 15px 0px;
    font-size: 28px;
    color: #1662a1;
    font-family: sans-serif;
}