*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #282828;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style-type: none;
}

ul li a{
    position: relative;
    display: inline-block;
    font-size: 88px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

a::before,
a::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-out;
}